<% if defined? by_month %>
<div class="panel callout">
<h3> There are <%= days %> <%= type %> in <%= year %>. </h3>
</div>
<% else defined? by_month_and_year %>
<div class="panel callout">
	<h3> There are <%= days %> <%= type %> in <%= Date::MONTHNAMES[month.to_i] %> - <%= year %>. </h3>
</div>
<%end%>



<a class="close-reveal-modal">&#215;</a>
